*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI Semibold, sans-serif;
}




@media (min-width: 1321px){


    body{
        background: linear-gradient(90deg,#cb27da,#ffb428);
    }


    .general{
        display: flex;
        justify-content: right;
    }


    .general .corr{
        display: flex;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 90px;
        padding-top: 130px;
        margin-top: 320px;
        margin-right: 90px;
        border-radius: 18px;
        border: 4px solid black;
        background-color: white;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    }


    .general .corr .correc{
        display: flex;
        margin-top: -90px;
        margin-bottom: 115px;
        margin-left: 100px;
    }


    .general .corr .correc .correction{
        font-size: 1.1em;
    }


    .general .mt_cr{
        display: flex;
        margin-left: -190px;
        margin-top: -40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 90px;
        padding-bottom: 10px;
        padding-top: 11px;
        border-radius: 12px;
        border: 3px solid black;
    }


    .general .mt_cr .mot_corrige{
        position: relative;
        font-size: 0.7em;
    }


    .general .mt_cr .mot_corrige .mot{
        margin-left: -190px;
        margin-right: -70px;
        position: relative;
        color: black;
    }


    .case .container .print{
        position: relative;
        display: flex;
        font-size: 1.1em;
        margin-top: 50px;
        justify-content: center;
        color: black;
        min-height: 15vh;
    }

    .case{
        display: flex;
        justify-content: center;
    }

    .case .container{
        position: absolute;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-top: 30px;
        margin-top: 300px;
        border-radius: 18px;
        border: 4px solid black;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
        background-color: white;
    }

    .case .container .inputBox{
        position: relative;
        justify-content: center;
        display: block;
        margin-left: 31px;
        width: 350px;
    }

    .case .container .bon{
        position: relative;
        display: block;
        margin-top: -30px;
        margin-left: 385px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .mauvais{
        position: relative;
        display: block;
        margin-top: -43px;
        margin-left: 385px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .inputBox input{
        position: relative;
        padding: 8px 2px;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        background-color: transparent;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        z-index: 2;
        caret-color: black;
        color: black;
    }

    .case .container .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px 0;
        pointer-events: none;
        font-size: 1em;
        transition: 0.3s;
        color: black;
        letter-spacing: 0.05em;
    }

    .case .container .inputBox input:valid ~ span,
    .case .container .inputBox input:focus ~ span{
        font-size: 0.85em;
        transform: translateY(-28px);
    }

    .case .container .inputBox i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg,#cb27da,#ffb428);
        transition: 0.3s;
        z-index: 1;
        border-radius: 4px;
        pointer-events: none;
    }
}


@media (min-width: 901px) and (max-width: 1320px){


    body{
        background: black;
    }


    .general{
        display: flex;
        justify-content: center;
    }


    .general .corr{
        display: flex;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 90px;
        padding-top: 130px;
        margin-left: -200px;
        margin-top: 205px;
        border-radius: 18px;
        border: 4px solid black;
        background-color: white;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    }


    .general .corr .correc{
        display: flex;
        margin-top: -90px;
        margin-bottom: 115px;
        margin-left: 100px;
    }


    .general .corr .correc .correction{
        font-size: 1.1em;
    }


    .general .mt_cr{
        display: flex;
        margin-left: -190px;
        margin-top: -40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 90px;
        padding-bottom: 10px;
        padding-top: 11px;
        border-radius: 12px;
        border: 3px solid black;
    }


    .general .mt_cr .mot_corrige{
        position: relative;
        font-size: 0.7em;
    }


    .general .mt_cr .mot_corrige .mot{
        margin-left: -190px;
        margin-right: -70px;
        position: relative;
        color: black;
    }


    .case .container .print{
        position: relative;
        display: flex;
        font-size: 1.1em;
        margin-top: 50px;
        justify-content: center;
        color: black;
        min-height: 15vh;
    }

    .case{
        display: flex;
        justify-content: center;
    }

    .case .container{
        position: absolute;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-top: 30px;
        margin-top: 192px;
        margin-right: -200px;
        border-radius: 18px;
        border: 4px solid black;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
        background-color: white;
    }

    .case .container .inputBox{
        position: relative;
        justify-content: center;
        display: block;
        margin-left: 31px;
        width: 350px;
    }

    .case .container .bon{
        position: relative;
        display: block;
        margin-top: -30px;
        margin-left: 385px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .mauvais{
        position: relative;
        display: block;
        margin-top: -43px;
        margin-left: 385px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .inputBox input{
        position: relative;
        padding: 8px 2px;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        background-color: transparent;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        z-index: 2;
        caret-color: black;
        color: black;
    }

    .case .container .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px 0;
        pointer-events: none;
        font-size: 1em;
        transition: 0.3s;
        color: black;
        letter-spacing: 0.05em;
    }

    .case .container .inputBox input:valid ~ span,
    .case .container .inputBox input:focus ~ span{
        font-size: 0.85em;
        transform: translateY(-28px);
    }

    .case .container .inputBox i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg,#cb27da,#ffb428);
        transition: 0.3s;
        z-index: 1;
        border-radius: 4px;
        pointer-events: none;
    }
}


@media (max-width: 900px){

    body{
        background-color: black;
    }


    .general{
        display: flex;
        justify-content: center;
    }


    .general .corr{
        display: flex;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-top: 120px;
        margin-top: -550px;
        margin-bottom: 400px;
        border-radius: 18px;
        border: 4px solid black;
        background-color: white;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    }


    .general .corr .correc{
        display: flex;
        margin-top: -90px;
        margin-bottom: 115px;
        margin-left: 100px;
    }


    .general .corr .correc .correction{
        font-size: 1.1em;
    }


    .general .mt_cr{
        display: flex;
        margin-left: -190px;
        margin-top: -40px;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-right: 90px;
        padding-bottom: 10px;
        padding-top: 11px;
        border-radius: 12px;
        border: 3px solid black;
    }


    .general .mt_cr .mot_corrige{
        position: relative;
        font-size: 0.7em;
    }


    .general .mt_cr .mot_corrige .mot{
        margin-left: -190px;
        margin-right: -70px;
        position: relative;
        color: black;
    }


    .case .container .print{
        position: relative;
        display: flex;
        font-size: 1.1em;
        margin-top: 50px;
        margin-right: 20px;
        justify-content: center;
        color: black;
        min-height: 15vh;
    }

    .case{
        display: flex;
        justify-content: center;
    }

    .case .container{
        position: relative;
        margin-right: -30px;
        margin-left: -30px;
        padding-left: 0px;
        padding-right: -100px;
        padding-bottom: 30px;
        padding-top: 10px;
        margin-top: 300px;
        border-radius: 18px;
        border: 4px solid black;
        box-shadow: 0 15px 35px rgba(0,0,0,0.25);
        background-color: white;
    }

    .case .container .inputBox{
        position: relative;
        justify-content: center;
        display: block;
        margin-left: 40px;
        margin-right: -50px;
        width: 350px;
    }

    .case .container .bon{
        position: relative;
        display: block;
        margin-top: -30px;
        margin-left: 290px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .mauvais{
        position: relative;
        display: block;
        margin-top: -43px;
        margin-left: 290px;
        color: transparent;
        font-size: 2em;
    }

    .case .container .inputBox input{
        position: relative;
        padding: 4px 2px;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        background-color: transparent;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        z-index: 2;
        caret-color: black;
        color: black;
    }

    .case .container .inputBox span{
        position: absolute;
        left: 0;
        padding: 8px 0;
        pointer-events: none;
        font-size: 1em;
        transition: 0.3s;
        color: black;
        letter-spacing: 0.05em;
    }

    .case .container .inputBox input:valid ~ span,
    .case .container .inputBox input:focus ~ span{
        font-size: 0.85em;
        transform: translateY(-28px);
    }

    .case .container .inputBox i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 3px;
        background: linear-gradient(90deg,#cb27da,#ffb428);
        transition: 0.3s;
        z-index: 1;
        border-radius: 4px;
        pointer-events: none;
    }
}